.margin-sup{
    margin-top: 55px;
}
.center-image {
    text-align:center;
}
.margin-image{
    margin: 10px;
}
.footer{
    bottom: 0;
    width: 100%;
    text-align:center;
    padding:20px;
    background-color:#7F7F7F;
    color: white;
}

#inscricao {
    padding: 40px;
    background-color: #F0E68C
}